<<div class="contentSpacing">
  <div class="container py-5" id="noUnderline">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1 class="d-inline">Pet Item List</h1>
      <a routerLink="/new">
        <button class="btn btn-info" type="button">Create Pet Item</button>
      </a>
    </div>
    <div class="d-sm-flex flex-wrap justify-content-center">
      <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
    </div>
    <div class="d-sm-flex flex-wrap justify-content-start">
      <div
        class="card mb-4 ml-mr position-relative onHover-shadow flex-basis"
        *ngFor="let pet of pets"
      >
        <a routerLink="/list/{{ pet._id }}">
          <div class="card-block">
            <!-- <img
              class="position-absolute"
              src="{{
                pet.upcoming == true ? '/assets/images/soon.png' : ''
              }}"
            /> -->
            <img class="imgSize rounded" src="{{ pet.image }}" />
            <h3 class="text-center pt-2">{{ pet.name }}</h3>
            <div class="d-flex justify-content-center flex-wrap">
              <!-- <span
                class="badge badge-danger text-center mr-2 mb-2"
                *ngFor="let genre of pet.ingredu"
                >{{ genre }}</span -->
               <p>${{pet.price}}</p> 
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>