<div class="contentSpacing">
  <div class="container" id="noUnderline">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1 class="d-inline">Pet Item List</h1>
      <a routerLink="/new">
        <button class="btn btn-info" type="button">Create Pet Item</button>
      </a>
    </div>
    <div class="d-sm-flex flex-wrap justify-content-center">
      <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
    </div>
    <div class="d-sm-flex flex-wrap justify-content-start">
      <div
        class="card mb-4 ml-mr position-relative onHover-shadow flex-basis"
        *ngFor="let pet of pets"
      >
        <a routerLink="/list/{{ pet._id }}">
          <div class="card-block">
            <img
              class="position-absolute"
              src="{{
                pet.isOnSale == true ? 'https://res.cloudinary.com/rajith/image/upload/v1618694061/sale_a8uz7x.png' : ''
              }}"
            />
            <img class="imgSize rounded" src="{{ pet.image }}" />
            <h3 class="text-center pt-2">{{ pet.name }}</h3>
            <div class="d-flex justify-content-center">
              <app-rating-stars [rating]=pet.rating></app-rating-stars>
            </div>
            <div class="d-flex justify-content-center flex-wrap">
              <p>${{pet.price}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  </div>