<section id="about">
  <h1 class="mt-5">
    <app-page-header [content]="pageContent.title"></app-page-header>
  </h1>

  <div class="contentSpacing d-flex">
    <div>
      <img
        src="https://res.cloudinary.com/dsu7d8dwj/image/upload/v1618619173/about1_ol8o7o.jpg"
        alt="about"
        width="280px"
      />
    </div>
    <div class="container text-left pl-5">
      <h2>Our History</h2>
      <p>
        Founded in 2016 we might be a fairly new company to the industry, but we
        evolved into the best pet specialty store in Canada. Started in
        Cambridge Ontario, we now have stores all over Canada! We are proudly
        Canadian because we are using all Canadian products to boost the
        Canadian economy.
      </p>
    </div>
  </div>

  <div class="contentSpacing d-flex">
    <div class="container text-left pl-5">
      <h2>Our Culture</h2>
      <p>
        At Maw and Paw our Carry Out Culture is a way of life. All our staff are
        engaged and enthusiastic about what they do, and love to go the extra
        mile for our customers. Whether it is hosting a rescue in one of our
        stores, creating referral programs with professionals, running donation
        campaigns, or attending pet expos, our staff are committed to bettering
        our communities.
      </p>
    </div>
    <div>
      <img
        src="https://res.cloudinary.com/dsu7d8dwj/image/upload/v1618619173/about2_l84upb.jpg"
        alt="about"
        width="280px"
      />
    </div>
  </div>

  <div class="contentSpacing d-flex">
    <div>
      <img
        src="https://res.cloudinary.com/dsu7d8dwj/image/upload/v1618619173/about3_utfu8h.jpg"
        alt="about"
        width="280px"
      />
    </div>
    <div class="container text-left pl-5">
      <h2>Our Vision</h2>
      <p>
        We have a saying here at Maw and Paw, that we are passionate about pets
        and the people they own. We believe that our furry companions deserve
        the best care and highest quality of products. We are partners, not
        competitors, with local groomers, humane societies, and other pet
        professionals. Our passion for pets and their well-being has led to
        adoption and pet license programs all over the Country.
      </p>
    </div>
  </div>
</section>

<!-- Teams -->
<section id="team">
  <h1>Our Team</h1>
  <div class="contentSpacing d-sm-flex flex-wrap justify-content-evenly">
    <div class="card mr-sm-4 mb-4 position-relative onHover-shadow flex-basis">
      <div class="card-block">
        <img class="imgSize rounded" src="https://res.cloudinary.com/rajith/image/upload/v1619206973/Aditya_xaoyc2.jpg" />
        <h3 class="text-center pt-2">Aditya</h3>
      </div>
    </div>
    <div class="card mr-sm-4 mb-4 position-relative onHover-shadow flex-basis">
      <div class="card-block">
        <img class="imgSize rounded" src="https://res.cloudinary.com/rajith/image/upload/v1619206973/Megha_sgzfkz.jpg" />
        <h3 class="text-center pt-2">Megha</h3>
      </div>
    </div>
    <div class="card mr-sm-4 mb-4 position-relative onHover-shadow flex-basis">
      <div class="card-block">
        <img class="imgSize rounded" src="https://res.cloudinary.com/rajith/image/upload/v1619206973/Pramod_hoce9e.jpg" />
        <h3 class="text-center pt-2">Pramod</h3>
      </div>
    </div>
    <div class="card mr-sm-4 mb-4 position-relative onHover-shadow flex-basis">
      <div class="card-block">
        <img class="imgSize rounded" src="https://res.cloudinary.com/rajith/image/upload/v1619206972/Rajith_lghpmn.jpg" />
        <h3 class="text-center pt-2">Rajith</h3>
      </div>
    </div>
  </div>
</section>
