<section>
    <div class="contentSpacing">
        <div class="container text-center py-5">
            <h1>
                <app-page-header [content]="pageContent.title"></app-page-header>
            </h1>
            <p>Our extensive back catalogue aims to give our customers access to every title available in Canada
                including
                the hottest new releases, classic titles, and collector’s editions.</p>Look up your favourite movie or
            TV
            show using our new and improved online store and have it delivered straight to your door!<p>You are in the
                right
                place now!</p><a class="btn btn-danger" routerLink="/list" routerLinkActive="active">Watch Now</a>
        </div>
    </div>
</section>